In [11]:
import pandas as pd
import numpy as np

In [12]:
from numpy.random import randn
np.random.seed(101)

In [13]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns=' W X Y Z'.split())

In [15]:
df

            W         X         Y         Z
A    2.706850  0.628133  0.907969  0.503826
B    0.651118 -0.319318 -0.848077  0.605965
C   -2.018168  0.740122  0.528813 -0.589001
D    0.188695 -0.758872 -0.933237  0.955057
E    0.190794  1.978757  2.605967  0.683509
new  1.000000  2.000000  3.000000  4.000000

In [16]:
df.loc['new']=[1,2,3,4]
df

            W         X         Y         Z
A    2.706850  0.628133  0.907969  0.503826
B    0.651118 -0.319318 -0.848077  0.605965
C   -2.018168  0.740122  0.528813 -0.589001
D    0.188695 -0.758872 -0.933237  0.955057
E    0.190794  1.978757  2.605967  0.683509
new  1.000000  2.000000  3.000000  4.000000

In [17]:
df['new'] = df['W'] +df['Y']

In [18]:
df

            W         X         Y         Z       new
A    2.706850  0.628133  0.907969  0.503826  3.614819
B    0.651118 -0.319318 -0.848077  0.605965 -0.196959
C   -2.018168  0.740122  0.528813 -0.589001 -1.489355
D    0.188695 -0.758872 -0.933237  0.955057 -0.744542
E    0.190794  1.978757  2.605967  0.683509  2.796762
new  1.000000  2.000000  3.000000  4.000000  4.000000

In [20]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns=' W X Y Z'.split())
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [21]:
df.insert(2,'new',[1,2,3,4,5])

In [22]:
df

          W         X  new         Y         Z
A  0.302665  1.693723    1 -1.706086 -1.159119
B -0.134841  0.390528    2  0.166905  0.184502
C  0.807706  0.072960    3  0.638787  0.329646
D -0.497104 -0.754070    4 -0.943406  0.484752
E -0.116773  1.901755    5  0.238127  1.996652

In [9]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df.drop('new',axis=1,inplace=True)

In [11]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [13]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [16]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [17]:
df['states'] = newind

In [18]:
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [19]:
df.set_index('states')

               W         X         Y         Z
states
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [20]:
df

          W         X         Y         Z states
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [23]:
df.set_index('states',inplace=True)

In [24]:
df

               W         X         Y         Z
states
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [24]:
outside =['Jakarta','Jakarta','Jakarta',
'Surabaya','Surabaya','Surabaya']
inside=[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index

[('Jakarta', 1),
 ('Jakarta', 2),
 ('Jakarta', 3),
 ('Surabaya', 1),
 ('Surabaya', 2),
 ('Surabaya', 3)]

In [25]:
hier_index=pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([( 'Jakarta', 1),
            ( 'Jakarta', 2),
            ( 'Jakarta', 3),
            ('Surabaya', 1),
            ('Surabaya', 2),
            ('Surabaya', 3)],
           )

In [27]:
df=pd.DataFrame(np.random.randint(1,100,(6,2)),
index=hier_index,
columns=['Restorant A','Restorant B'])
df

            Restorant A  Restorant B
Jakarta  1           55           87
         2           10           46
         3            3           19
Surabaya 1           59           93
         2           12           11
         3           95           36

In [28]:
df.loc['Jakarta']

   Restorant A  Restorant B
1           55           87
2           10           46
3            3           19

In [29]:
df.loc['Jakarta'].loc[1]

Restorant A    55
Restorant B    87
Name: 1, dtype: int32

In [30]:
df.xs('Jakarta')

   Restorant A  Restorant B
1           55           87
2           10           46
3            3           19

In [32]:
df.xs(['Jakarta',1])

Restorant A    55
Restorant B    87
Name: (Jakarta, 1), dtype: int32

In [33]:
df.index.names

FrozenList([None, None])

In [34]:
df.index.names=['City','Location']
df

                   Restorant A  Restorant B
City     Location
Jakarta  1                  55           87
         2                  10           46
         3                   3           19
Surabaya 1                  59           93
         2                  12           11
         3                  95           36

In [35]:
df.xs(1,level='Location')

          Restorant A  Restorant B
City
Jakarta            55           87
Surabaya           59           93

In [36]:
df

                   Restorant A  Restorant B
City     Location
Jakarta  1                  55           87
         2                  10           46
         3                   3           19
Surabaya 1                  59           93
         2                  12           11
         3                  95           36

In [37]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns=' W X Y Z'.split())
df

          W         X         Y         Z
A  1.241440  0.190978 -1.245347  0.952183
B  1.301380 -0.167320  0.050221  1.556790
C  1.345434  1.501737 -0.633348 -0.487281
D -1.647469  0.543758 -1.210949 -0.365949
E  0.632181 -0.393214 -1.826066  1.257824

In [39]:
df.sort_values('W')

          W         X         Y         Z
D -1.647469  0.543758 -1.210949 -0.365949
E  0.632181 -0.393214 -1.826066  1.257824
A  1.241440  0.190978 -1.245347  0.952183
B  1.301380 -0.167320  0.050221  1.556790
C  1.345434  1.501737 -0.633348 -0.487281

In [40]:
df.sort_values('W',ascending=False)

          W         X         Y         Z
C  1.345434  1.501737 -0.633348 -0.487281
B  1.301380 -0.167320  0.050221  1.556790
A  1.241440  0.190978 -1.245347  0.952183
E  0.632181 -0.393214 -1.826066  1.257824
D -1.647469  0.543758 -1.210949 -0.365949

In [42]:
df.sort_values('W',ascending=False, inplace=True)
df

          W         X         Y         Z
C  1.345434  1.501737 -0.633348 -0.487281
B  1.301380 -0.167320  0.050221  1.556790
A  1.241440  0.190978 -1.245347  0.952183
E  0.632181 -0.393214 -1.826066  1.257824
D -1.647469  0.543758 -1.210949 -0.365949

In [44]:
df.sort_values(['W','X'])

          W         X         Y         Z
D -1.647469  0.543758 -1.210949 -0.365949
E  0.632181 -0.393214 -1.826066  1.257824
A  1.241440  0.190978 -1.245347  0.952183
B  1.301380 -0.167320  0.050221  1.556790
C  1.345434  1.501737 -0.633348 -0.487281

In [45]:
df.sort_values(['W','X'], ascending =[False,False])

          W         X         Y         Z
C  1.345434  1.501737 -0.633348 -0.487281
B  1.301380 -0.167320  0.050221  1.556790
A  1.241440  0.190978 -1.245347  0.952183
E  0.632181 -0.393214 -1.826066  1.257824
D -1.647469  0.543758 -1.210949 -0.365949

In [47]:
df.sort_values(
    by= ['W','X'],
    ascending= [False,False],
    inplace=True
)

In [48]:
df

          W         X         Y         Z
C  1.345434  1.501737 -0.633348 -0.487281
B  1.301380 -0.167320  0.050221  1.556790
A  1.241440  0.190978 -1.245347  0.952183
E  0.632181 -0.393214 -1.826066  1.257824
D -1.647469  0.543758 -1.210949 -0.365949

In [50]:
df.sort_index()

          W         X         Y         Z
A  1.241440  0.190978 -1.245347  0.952183
B  1.301380 -0.167320  0.050221  1.556790
C  1.345434  1.501737 -0.633348 -0.487281
D -1.647469  0.543758 -1.210949 -0.365949
E  0.632181 -0.393214 -1.826066  1.257824

In [52]:
df.sort_index(inplace=True)
df

          W         X         Y         Z
A  1.241440  0.190978 -1.245347  0.952183
B  1.301380 -0.167320  0.050221  1.556790
C  1.345434  1.501737 -0.633348 -0.487281
D -1.647469  0.543758 -1.210949 -0.365949
E  0.632181 -0.393214 -1.826066  1.257824